<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>hjh</string>
		<string>k</string>
		<string>giug</string>
	</array>
	<string>krishna</string>
	<string>gthji</string>
	<string>ghjyt</string>
	<string>ghuyt</string>
	<dict>
		<key>ghjk</key>
		<string>hnumkujmuj</string>
		<key>dedefefv</key>
		<string>thtyhnyjnyn</string>
	</dict>
</array>
</plist>
